@font-face {
    font-family: 'UniversLTS';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/UniversLTStd.woff) format('woff2');
}

@font-face {
    font-family: 'UniversLTS';
    font-style: oblique;
    font-weight: 400;
    src: url(../fonts/UniversLTStd-Obl.woff) format('woff2');
}

@font-face {
    font-family: 'UniversLTS';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/UniversLTStd-Light.woff) format('woff2');
}

@font-face {
    font-family: 'UniversLTS';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/UniversLTStd-Bold.woff) format('woff2');
}

@font-face {
    font-family: 'UniversLTS';
    font-style: oblique;
    font-weight: 700;
    src: url(../fonts/UniversLTStd-BoldObl.woff) format('woff2');
}